Steps for Handling the missing value

1. Import Libraries
2. Load data
3. Seprate Input and Output attributes
4. Find the missing values and handle it in either way
    a. Removing data
    b. Imputation

In [20]:
# Step 1: Import Libraries

import numpy as np 
import pandas as pd
from sklearn.impute import SimpleImputer 

# Step 2: Load Data
        
datasets = pd.read_csv('Datasets/Exercise-CarData.csv', na_values=['??',0]) 
print("\nData :\n",datasets)
print("\nData statistics\n",datasets.describe())

Data :
       Unnamed: 0  Price   Age       KM FuelType   HP  MetColor  Automatic  \
0            NaN  13500  23.0  46986.0   Diesel   90       1.0        NaN
1            1.0  13750  23.0  72937.0   Diesel   90       1.0        NaN
2            2.0  13950  24.0  41711.0   Diesel   90       NaN        NaN
3            3.0  14950  26.0  48000.0   Diesel   90       NaN        NaN
4            4.0  13750  30.0  38500.0   Diesel   90       NaN        NaN
...          ...    ...   ...      ...      ...  ...       ...        ...
1431      1431.0   7500   NaN  20544.0   Petrol   86       1.0        NaN
1432      1432.0  10845  72.0      NaN   Petrol   86       NaN        NaN
1433      1433.0   8500   NaN  17016.0   Petrol   86       NaN        NaN
1434      1434.0   7250  70.0      NaN      NaN   86       1.0        NaN
1435      1435.0   6950  76.0      1.0   Petrol  110       NaN        NaN

        CC  Doors  Weight
0     2000  three    1165
1     2000      3    1165
2     2000      3    1165
3     2000      3    1165
4     2000      3    1170
...    ...    ...     ...
1431  1300      3    1025
1432  1300      3    1015
1433  1300      3    1015
1434  1300      3    1015
1435  1600      5    1114

[1436 rows x 11 columns]

Data statistics
         Unnamed: 0         Price          Age             KM  MetColor  \
count  1435.000000   1436.000000  1336.000000    1421.000000     868.0
mean    718.000000  10730.824513    55.672156   68647.239972       1.0
std     414.393131   3626.964585    18.589804   37333.023589       0.0
min       1.000000   4350.000000     1.000000       1.000000       1.0
25%     359.500000   8450.000000    43.000000   43210.000000       1.0
50%     718.000000   9900.000000    60.000000   63634.000000       1.0
75%    1076.500000  11950.000000    70.000000   87000.000000       1.0
max    1435.000000  32500.000000    80.000000  243000.000000       1.0

       Automatic           CC      Weight
count       80.0  1436.000000  1436.00000
mean         1.0  1566.827994  1072.45961
std          0.0   187.182436    52.64112
min          1.0  1300.000000  1000.00000
25%          1.0  1400.000000  1040.00000
50%          1.0  1600.000000  1070.00000
75%          1.0  1600.000000  1085.00000
max          1.0  2000.000000  1615.00000

In [21]:
# Step 3: Seprate Input and Output attributes

# All rows, all columns except last 
X = datasets.iloc[:, 2:].values 
  
# Only last column  
Y = datasets.iloc[:, 1].values 

print("\n\nInput : \n", X) 
print("\n\nOutput: \n", Y)

Input :
 [[23.0 46986.0 'Diesel' ... 2000 'three' 1165]
 [23.0 72937.0 'Diesel' ... 2000 '3' 1165]
 [24.0 41711.0 'Diesel' ... 2000 '3' 1165]
 ...
 [nan 17016.0 'Petrol' ... 1300 '3' 1015]
 [70.0 nan nan ... 1300 '3' 1015]
 [76.0 1.0 'Petrol' ... 1600 '5' 1114]]


Output:
 [13500 13750 13950 ...  8500  7250  6950]

In [18]:
# Step 4: Find the missing values and handle it in either way

# 4a. Removing the row with all null values

datasets.dropna(how='all',inplace=True)
print("\nNew Data :",datasets)

New Data :       Unnamed: 0  Price   Age       KM FuelType   HP  MetColor  Automatic  \
0              0  13500  23.0  46986.0   Diesel   90       1.0          0
1              1  13750  23.0  72937.0   Diesel   90       1.0          0
2              2  13950  24.0  41711.0   Diesel   90       NaN          0
3              3  14950  26.0  48000.0   Diesel   90       0.0          0
4              4  13750  30.0  38500.0   Diesel   90       0.0          0
...          ...    ...   ...      ...      ...  ...       ...        ...
1431        1431   7500   NaN  20544.0   Petrol   86       1.0          0
1432        1432  10845  72.0      NaN   Petrol   86       0.0          0
1433        1433   8500   NaN  17016.0   Petrol   86       0.0          0
1434        1434   7250  70.0      NaN      NaN   86       1.0          0
1435        1435   6950  76.0      1.0   Petrol  110       0.0          0

        CC  Doors  Weight
0     2000  three    1165
1     2000      3    1165
2     2000      3    1165
3     2000      3    1165
4     2000      3    1170
...    ...    ...     ...
1431  1300      3    1025
1432  1300      3    1015
1433  1300      3    1015
1434  1300      3    1015
1435  1600      5    1114

[1436 rows x 11 columns]

In [24]:
# 4b. Imputation (Replacing null values with mean value of that attribute)

new_X = datasets.iloc[:, 2:].values 
  
new_Y = datasets.iloc[:, 1].values 


# Using Imputer function to replace NaN values with mean of that parameter value 
imputer = SimpleImputer(missing_values = np.nan,strategy = "mean")

# Fitting the data, function learns the stats 
imputer = imputer.fit(new_X[:, 0:2]) 
  
# fit_transform() will execute those stats on the input ie. X[:, 1:3] 
new_X[:, 0:2] = imputer.transform(new_X[:, 0:2]) 
  
# filling the missing value with mean 
print("\n\nNew Input with Mean Value for NaN : \n\n", new_X)

New Input with Mean Value for NaN :

 [[23.0 46986.0 'Diesel' ... 2000 'three' 1165]
 [23.0 72937.0 'Diesel' ... 2000 '3' 1165]
 [24.0 41711.0 'Diesel' ... 2000 '3' 1165]
 ...
 [55.67215568862275 17016.0 'Petrol' ... 1300 '3' 1015]
 [70.0 68647.23997185081 nan ... 1300 '3' 1015]
 [76.0 1.0 'Petrol' ... 1600 '5' 1114]]